{% extends "shortener/base.html" %}

{% block title %}Как работает сокращение ссылок{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Как работает сокращение ссылок?</h1>
    <p>
        Сервис позволяет сокращать длинные ссылки до короткого формата. 
        Процесс работы прост:
    </p>
    <ol>
        <li>Вы вводите длинный URL в форму на странице <a href="{% url 'shorten_url' %}">сокращения ссылок</a>.</li>
        <li>Таинственная система генерирует уникальный короткий код, который связывается с оригинальной ссылкой.</li>
        <li>Вы получаете сокращенную ссылку, которая выглядит как <code>http://ваш_домен/код</code>.</li>
        <li>Когда кто-то переходит по сокращенной ссылке, приложение автоматически перенаправляет на оригинальный URL.</li>
    </ol>
    <p>
        Попробуйте прямо сейчас! <a href="{% url 'shorten_url' %}" class="btn btn-primary">Сократить ссылку</a>
    </p>
</div>
{% endblock %}
